<div class="heading">
  <h1>Job Postings</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Posted At</th>
      <th>Title</th>
      <th>Status</th>
  </thead>
  <tbody>
    <% @job_postings.each do |posting| %>
      <tr class="job-posting-<%= posting.id %>">
        <td class="posting-date"><%= posting.posted_at %></td>
        <td class="posting-title"><%= posting.title %></td>
        <td class="posting-status"><%= posting.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
