<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RailsTestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
